{{#link-to 'lessons'}}Back to Lessons{{/link-to}}

<h1>
  {{title}}

  {{#if isEditing}}
    <button class="btn btn-xs btn-save" {{action "save"}}>
      <i class="glyphicon glyphicon-edit"></i> Done Editing
    </button>
  {{else}}
    <button class="btn btn-xs btn-edit" {{action "edit"}}>
      <i class="glyphicon glyphicon-edit"></i> Edit
    </button>
  {{/if}}
</h1>

{{#if isEditing}}
  {{textarea value=description rows="7"
    class="form-control form-control-section-body"}}
{{else}}
  {{format-markdown description}}
{{/if}}

{{#each sections itemController="section"}}
  <h2>
    {{title}}

    {{#if isEditing}}
      <button class="btn btn-xs" {{action "save"}}>
        <i class="glyphicon glyphicon-edit"></i> Done Editing
      </button>
    {{else}}
      <button class="btn btn-xs" {{action "edit"}}>
        <i class="glyphicon glyphicon-edit"></i> Edit
      </button>
    {{/if}}
  </h2>

  {{#if isEditing}}
    {{textarea value=description rows="7" class="form-control"}}
  {{else}}
    {{format-markdown description}}
  {{/if}}

  {{#each checkpoints itemController="checkpoint"}}
    <h3>
      {{title}}

      {{#if isEditing}}
        <button class="btn btn-xs" {{action "save"}}>
          <i class="glyphicon glyphicon-edit"></i> Done Editing
        </button>
      {{else}}
        <button class="btn btn-xs" {{action "edit"}}>
          <i class="glyphicon glyphicon-edit"></i> Edit
        </button>
      {{/if}}
    </h3>

    {{#if isEditing}}
      {{textarea value=body rows="7" class="form-control"}}
    {{else}}
      {{format-markdown body}}
    {{/if}}

    {{#if isCompleted}}
      <button class="btn btn-xs btn-success" {{action "markIncomplete"}}>Complete</button>
    {{else}}
      <button class="btn btn-xs btn-danger" {{action "markComplete" }}>Incomplete</button>
    {{/if}}
  {{/each}}
{{/each}}
