<!DOCTYPE html>
<html>
<head>
  <title>Doubt</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if current_user.present? || true -%>
  <%= javascript_include_tag "application" %>
<%- else -%>
  <h1>You should probably log in.</h1>

  <%= link_to "Login with Github", "/auth/github",
    class: "btn btn-default btn-lrg" %>
<%- end -%>

<%= yield %>

<script>
  window.preload = {
    currentUser: <%= current_user_json.html_safe %>
  }
</script>

</body>
</html>
